{
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "singleQuote": false,
  "tabWidth": 2,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "",
    "^next",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/features/(.*)$",
    "",
    "^@/components/(.*)$",
    "",
    "^@/lib/(.*)$",
    "",
    "^@/hooks/(.*)$",
    "",
    "^@/public/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}