@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-display: var(--font-display);
  --color-bg: #052046;
  --color-primary: #4564a2;
}

@utility border-shine {
  @apply drop-shadow-[0px_0px_10px_rgba(255,255,255,1)];
}

@layer base {
  * {
    @apply font-sans;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-bold tracking-tight text-balance font-display;
  }

  h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  p {
    @apply leading-7;
  }

  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }

  button {
    @apply cursor-pointer;
  }

  a {
    @apply cursor-pointer;
  }
}
